.Topbar-main {
  width: 100%;
  font-family: 'Nunito';
}

.main-content-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 20px;
}

.left {
  font-size: 20px;
  font-weight: 600;
  margin: 0;           
  line-height: 1;     
}

.right {
  display: flex;
  align-items: center;  
  gap: 16px;
}
